<nav class="navbar navbar-expand-lg navbar-light bg-light mt-4 mb-4" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFilters" aria-controls="navbarFilters" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarFilters">
        <div id="filters" class="d-flex flex-wrap justify-content-center">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Homes</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-utensils"></i></div>
                <p>Restaurants</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Nature</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-spa"></i></div>
                <p>Wellness</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-bicycle"></i></div>
                <p>Adventure</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-palette"></i></div>
                <p>Art & Culture</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-coffee"></i></div>
                <p>Cafes</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-tree"></i></div>
                <p>Gardens</p>
            </div>
        
            <div class="filter">
                <div><i class="fa-solid fa-monument"></i></div>
                <p>Monuments</p>
            </div>
        </div>
    </div>
</nav>