<footer class="mt-3">
    <div class="f-info">
        <div class="f-info-socials mt-1">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-brand mt-1">&copy;&nbsp;<b>Destinate !t</b></div>
        <div class="f-mail"><i class="fa-solid fa-envelope"></i> <a href="mailto:destinateit.official@gmail.com">destinateit.official@gmail.com</a>
        </div>
        <div class="f-info-links mb-3">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>