<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-tents"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="/listing">Explore</a>
            <a class="nav-item nav-link" href="/listing/new"> Add new place</a>
        </div>
    </div>
</nav>