<% layout("layouts/boilerplate") %>
<body style="background-image: url('../../public/home.png') !important; background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important;">
    <h1>Welcome to Madhuravas</h1>
    <p>We have places, which won't regret you going.</p>
    
</body>