<% layout("layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>
    <div class="row row-cards row-cols-lg-3 row-cols-md-2 row-cols-lg-1 mb-3">
        <% for(let data of lists) { %>
            <a href="/listing/<%=data._id%>" style="text-decoration: none;" >
                <div class="card-list cols" style="width: 20rem">
                    <img class="card-img-top-list" src="<%= data.image.url %>" alt="Card image cap" style="height: 20rem"/>
                    <div class="card-img-overlay-list"></div>
                    <div class="card-body-list">
                        <p class="card-text-list">
                            <b><%= data.title %></b>
                            <br>
                            &#8377; <%= data.price.toLocaleString("en-IN") %> / night
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</body>
